@CHARSET "ISO-8859-1";
/* Browser Resetter */
body,div,span,p,a,img,h1,h2,h3,h4,h5,h6,ul,ol,li,blockquote,input {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

ul,li,ol {
	list-style: none;
}

a {
	outline: none;
	text-decoration: none;
}

html {
	margin: 20px auto;
	padding: 0;
	width: 865px; /* subtract 40px from banner width for padding */
	background: #FFF;
	background-repeat: repeat-x;
	box-shadow: 3px 3px 15px #5E5E5E;
	font-family: Arial, sans-serif;
}

body {
	font-family: Open Sans, Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	background-color: #767676;
	margin: 20px auto;
	padding: 0;
	width: 865px; /* subtract 40px from banner width for padding */
	background-repeat: repeat-x;
	box-shadow: 3px 3px 15px #5E5E5E;
}

menu {
	display: block;
	background: black;
}

menu ul {
	display: inline-block;
}

menu ul li {
	display: block;
}

ul#menu,ul#menu ul {
	margin: 0;
	list-style: none;
	padding: 0;
	background-color: none;
	border-width: 0;
	border-style: solid;
	border-color:;
}

ul#menu ul {
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 100%;
	opacity: 0;
	-moz-transition: all 0.5s;
	-webkit-transition: opacity 0.5s;
	-o-transition: opacity 0.5s, visibility 0.5s;
	transition: opacity 0.5s;
	background-color: #3F3F3F;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	padding: 0;
}

ul#menu li:hover>ul {
	visibility: visible;
	opacity: 1;
}

ul#menu li {
	position: relative;
	display: block;
	white-space: nowrap;
	font-size: 0;
	float: left;
}

ul#menu li:hover {
	z-index: 1;
}

ul#menu ul ul {
	position: absolute;
	left: 100%;
	top: 0;
	-moz-box-shadow: #585858 0px 0px 1px;
	-webkit-box-shadow: #585858 0px 0px 1px;
	box-shadow: #585858 0px 0px 1px;
}

ul#menu {
	font-size: 0;
	z-index: 999;
	position: relative;
	display: inline-block;
	zoom: 1;
	padding: 0;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	*display: inline;
}

* html ul#menu li a {
	display: inline-block;
}

ul#menu>li {
	margin: 0;
}

ul#menu a:active,ul#menu a:focus {
	outline-style: none;
}

ul#menu a {
	display: block;
	vertical-align: middle;
	text-align: left;
	text-decoration: none;
	font: bold 12px Open Sans, Arial, sans-serif;
	color: #AAAAAA;
	cursor: pointer;
	padding: 23px 18px 26px;
	background-color:;
	background-repeat: repeat;
	border-width: 0px;
	border-style: none;
	border-color:;
}

ul#menu ul li {
	float: none;
	margin: 0;
}

ul#menu ul a {
	text-align: left;
	padding: 8px 15px;
	background-color: #3F3F3F;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #4A4A4A;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	font: 12px Open Sans, Arial, sans-serif;
	color: #AAAAAA;
	text-decoration: none;
}

ul#menu li:hover>a,ul#menu li a.pressed {
	border-style: none;
	color: #FFFFFF;
	text-decoration: none;
}

ul#menu img {
	border: none;
	vertical-align: middle;
	margin-right: 23px;
}

ul#menu ul span {
	background-image: none;
	padding-right: 8px;
}

ul#menu ul li:hover>a,ul#menu ul li a.pressed {
	background-color: #2DB2EA;
	border-style: solid;
	border-color: #4A4A4A;
	color: #FFFFFF;
	text-decoration: none;
}

ul#menu li.topmenu>a {
	background-color: #363636;
	border-width: 3px 0 0 0;
	border-style: solid;
	border-color: transparent transparent transparent transparent;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

ul#menu li.topmenu:hover>a,ul#menu li.topmenu a.pressed {
	background-color: #3F3F3F;
	border-style: solid;
	border-color: #2DB2EA transparent transparent transparent;
}

ul#menu li.sublast>a {
	border-width: 0px;
}

.block {
	display: inline-block;
	color: #FFF;
	font-weight: bold;
	margin: 5px;
	width: 415px;
	height: 390px;
}

#resp {
	
}

#resp ul {
	display: inline-block;
	background-color: #282828;
	background-size: 16px 16px;
	color: #FFF;
	margin: 5px;
	padding: 5px;
	border: #2db2ea solid 1px;
}

.title {
	font-size: 32px;
	font-weight: bold;
	color: #EFEFEF;
}

.title .desc {
	font-size: 22px;
}
#resp ul.box {
	width: 50%;
	height: 50%;
	font-size:20px;
	font-weight: bold;
	background-color: #2db2ea;
}
#footer {
	clear: both;
	margin-bottom: 0px;
	margin-top: auto;
	text-align: right;
	color: #FFF;
	font-size: 12px;
	line-height: 20px;
	height: 20px;
	background-color: black;
	border-top: solid 1px #CECECE;
}
